<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar vehiculos</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" class="rounded-circle"/>

</head>
<body>
  <nav id="nav" class="navbar navbar-expand-sm navbar-light ">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-brand">
      <img class="rounded-circle" src="{% static 'img/logo.png' %}" width="60" height="60" alt="">
    </div>
   
    
    <div class="collapse navbar-collapse" id="opciones">   
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="navL" class="nav-link" href="{% url 'index' %}">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navL"  href="{% url 'somos' %}">Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navL"  href="{% url 'galeria'%}">Galeria</a>
        
         <li class="nav-item">
            <a class="nav-link" id="navL"  href="{% url 'contacto' %}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navL"  href="{% url 'mapa' %}">Encuentranos acá</a>
        </li>
        <li class="nav-item">
            
          <a href="{% url 'form_clientes' %}" id="navL" class="nav-link" >Registrar datos</a>
        </li>
        <li class="nav-item">
            {% if perms.core.view_productos_animal %}
            <a href="{% url 'mostrar' %}" class="nav-link"  style="color: red;">Mostrar Productos </a>
          </li>
            {% endif %}
          <li class="nav-item">
            {% if perms.core.view_clientes %}
            <a href="{% url 'mostrar_clientes' %}"  class="nav-link" style="color: red; ">Mostrar Clientes</a>
          </li>
            {% endif %}
        
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"  class="nav-link"  style="color: red; ">Cerrar Sesión</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="color:blue;" >Bienvenid@ {{user.username}}</a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a href="/mycart" class="nav-link btn btn-success" style="color:blue;" >🛒 {{request.session.data.count}} Item {{request.session.data.count|pluralize}} </a>
            </li>
          {% else %}
          <a href="{% url 'login' %}" class="me-4 text-reset">
            <svg xmlns="http://www.w3.org/2000/svg"  style="margin-top: 5px; "width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          </a>
          
          {% endif %}
        </li>
         
          
          
      </li>
      
                  
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="table-responsive">
        <h2>Clientes</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Rut</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Dirreción</th>
                    <th>Número de celular</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes%}
                <tr>
                    <td>{{c.rut_cliente}}</td>
                    <td>{{c.nombres_cliente}}</td>
                    <td>{{c.apellidos_clientes}}</td>
                    <td>{{c.correos_clientes}}</td>
                    <td>{{c.dirreciones_clientes}}</td>
                    <td>{{c.num_cel_clientes}}</td>
                    <td>{{c.sexo}}</td>
                    
                    
                    {% if user.is_authenticated %}
                        <td><a href="{% url 'form_mod_clientes' c.rut_cliente %}" class="btn btn-primary">Modificar</a> </td>###
                        <td><a href="{% url 'form_del_clientes' c.rut_cliente %}" class="btn btn-danger">Eliminar</a></td>####
                    {% else %}
                        <td><a href="#">No tiene permisos para modificar</a></td>
                        <td><a href="#" style="color:red;">No tiene permisos para eliminar </a></td>
                    {% endif %}

                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
        {% if user.is_authenticated %}
            <a href="{% url 'form_clientes' %}" class="btn btn-primary">Crear Clientes</a> 
        {% endif %}
            <a href="{% url 'index' %}" class="btn btn-success">Volver a Home</a>
        
  </div>
</body>
</html>